[submodule "external/ts2cs"]
	path = external/ts2cs
	url = https://git01.codeplex.com/forks/atsushieno/ts2cs
[submodule "external/typescript"]
	path = external/typescript
	url = https://git01.codeplex.com/typescript
[submodule "external/websocket-sharp"]
	path = external/websocket-sharp
	url = git://github.com/sta/websocket-sharp.git
