TypeScriptServiceBridge/ls-bridge.js
TypeScriptServiceBridge/ls-bridge.js.map
TypeScriptServiceBridge/ls.lst
TypeScriptServiceBridge/node-ts-server.js
TypeScriptServiceBridge/node-ts-server.js.map
bin
obj
*.userprefs
*.suo
